{#  If community ads field is enabled and user agent is desktop show the admin ads if they are present#}
{#  else if google enable field is enabled show the google ads #}
{% load filters %}

{% if community.enable_ads and not request.user_agent.is_mobile %}
    {% if top_ads %}
        <div id="carousel-top-ad" class="carousel slide desktop-top-ad-block" data-ride="carousel" data-interval="3000" >
            <div class="desktop-top-ad carousel-inner">
                {% for top_ad in top_ads %}
                    {% if forloop.counter == 1 %}
                        <div class="carousel-item active" onclick='update_ad_clicks({{ top_ad.id }})'>
                            <a target="_blank" href="{{ top_ad.ad_link }}">
                                <img src="{{ top_ad.ad_image|get_webp_format_image }}" alt="desktop top ad">
                            </a>
                        </div>
                    {% else %}
                        <div class="carousel-item" onclick='update_ad_clicks({{ top_ad.id }})'>
                            <a target="_blank" href="{{ top_ad.ad_link }}">
                                <img src="{{ top_ad.ad_image|get_webp_format_image }}" alt="desktop top ad">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if not top_ads|length == 1 %}
                <ol class="carousel-indicators" id="top-ads-carousel-indicators">
                    {% for top_ad in top_ads %}
                        {% if forloop.counter == 1 %}
                            <li data-target="#carousel-top-ad" data-slide-to="{{ forloop.counter|get_loop_index }}" class="paging-dot active"></li>
                        {% else %}
                            <li data-target="#carousel-top-ad" data-slide-to="{{ forloop.counter|get_loop_index }}" class="paging-dot"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    {% endif %}



    {% elif community.enable_google_ads  and google_desktop_top_ad %}
        <div class="desktop-top-ad" id="{{ google_desktop_top_ad.ad_unit_id }}"
             style='width: {{ google_desktop_top_ad.ad_width }}px; height: {{ google_desktop_top_ad.ad_height }}px;'>
        </div>
        <script >
            $(document).ready(function () {
                window.googletag = window.googletag || {cmd: []};
                googletag.cmd.push(function () {
                    googletag.defineSlot("{{ google_desktop_top_ad.ad_unit_path }}", [{{ google_desktop_top_ad.ad_width }}, {{ google_desktop_top_ad.ad_height }}], "{{ google_desktop_top_ad.ad_unit_id }}")
                        .addService(googletag.pubads());
                    googletag.pubads().enableSingleRequest();
                    googletag.pubads().collapseEmptyDivs(true);
                    googletag.enableServices();
                });
                $("#{{ google_desktop_top_ad.ad_unit_id }}").show();
                $("#{{ google_desktop_top_ad.ad_unit_id }}").empty();
                googletag.cmd.push(function () {
                    googletag.display("{{ google_desktop_top_ad.ad_unit_id }}");
                });
                if  ($.trim($("#{{ google_desktop_top_ad.ad_unit_id }}").text()) == "") {
                    $("#{{ google_desktop_top_ad.ad_unit_id }}").hide();
                }
            });
        </script>

{% endif %}




{# google ads start #}

{#{% if community.enable_ads and not request.user_agent.is_mobile %}#}
{#       <div id="carousel-top-ad" class=" slide desktop-top-ad-block" >#}
{#            <div class="desktop-top-ad carousel-inner">#}
{#                <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>#}
{#                <script>#}
{#                 window.googletag = window.googletag || {cmd: []};#}
{#                 googletag.cmd.push(function() {#}
{#                  googletag.pubads().refresh()#}
{#                  googletag.defineSlot('/78016009/desktop_web_top', [1200, 111], 'div-gpt-ad-1659513948717-0-{{ div_id }}').addService(googletag.pubads());#}
{#                  googletag.pubads().enableSingleRequest();#}
{#                  googletag.enableServices();#}
{#                 });#}
{#                </script>#}
{##}
{#               <!-- /78016009/desktop_web_top -->#}
{#            <div id='div-gpt-ad-1659513948717-0-{{ div_id }}' style='min-width: 1200px; min-height: 111px;'>#}
{#             <script>#}
{#              googletag.cmd.push(function() {#}
{#                googletag.pubads().clear()#}
{#                googletag.display('div-gpt-ad-1659513948717-0-{{ div_id }}');#}
{#              });#}
{#             </script>#}
{#            </div>#}
{#        </div></div>#}
{##}
{##}
{#{% endif %}#}


{# google ads end t#}