{% load filters %}
{% load i18n %}
{% load cache %}

{% if post.is_trending_news %}
<a href="/trending" class="cursor-pointer">
{% else %}
<a href="/article/{{ post.people_to_meet.all.0.url_path|urlencode|safe }}/{{ post.unique_url|urlencode|safe }}" class="cursor-pointer">
{% endif %}
    {% cache request.cache_time "generic_post_card" post.id post.edited_datetime %}
    <div class="bg-white d-flex gp-card">
        {% if post.get_image and post.get_image.strip %}
            <div class="img-fluid">
                <img class="gp-img-border mx-auto lazyload center-cropped-gp"
                     {% if request.user_agent.is_mobile %}
                        data-src="{{ post.get_image_name|get_webp_format_image:"250x140"  }}"
                     {% else %}
                        data-src="{{ post.get_image_name|get_webp_format_image:"320x180" }}"
                     {% endif %}
                    alt="{{ post.get_meta_title }}"/>
            </div>
        {% else %}
            <!-- Showing placeholder image if post image is not available -->
            <div class="img-fluid">
                <img class="gp-img-border mx-auto center-cropped-gp post-placeholder" alt="Image"/>
            </div>
        {% endif %}

        <div class="position-relative w-100">
            {# Added generic posts topic timestamp component to news feed in latest page. #}
            {% include "components/home_page/generic_post_topic_timestamp.html" %}

            <div class="gp-card-wrapper">
                {% if post.title and post.title.strip %}
                    <div class="gp-title">{{ post.title.strip|safe }}</div>
                {% endif %}
            {% autoescape off %}
                {% if post.text %}
                    <div class="gp-card-text">{{ post.text|striptags|safe|generate_short_description:50 }}</div>
                {% endif %}
            {% endautoescape %}
            </div>
        </div>
    </div>
    {% endcache %}
</a>

<div class="post-end"></div>