<div class="newsletter_section">
    <div class="newsletter_container">
        <div id='newsletter_mail_div'>
            <div class="newsletter_text">Subscribe to our Newsletter!</div>
            <div class="newsletter_mail"><input autocomplete="false" placeholder="Enter email..." name="email" type="email"
                                                id="subscribe_email">
                <div id="subscribe_btn"><img src="/app/static/img/subscribe_submit.png"></div>
            </div>
            <div id="email_validation_err">Invalid Email ID</div>
        </div>
        <div id='newsletter_success_div'>
            Thank you for signing up for the newsletter!
        </div>
    </div>
</div>
