{% load filters %}
<section class="position-relative rs-section">

    <div class="d-flex align-items-center home-right-wrapper">
        <span class="live-news-indicator">
            <div id="live_tv_icon_topic">
                <img src="/app/static/img/live_animation.gif" alt="live animation">
            </div>
        </span>
        <span class="live-news-text">Live Argus News</span>
    </div>

    <div id="trending-video-wrapper">
        <div id="trending-video" class="d-flex justify-content-center live-video-wrapper cursor-pointer">
            <div id="commando-player"></div>
            <script>
                var source = "{{current_live.video_url|safe}}";
            </script>

            <style>
                #trending-video-wrapper * {
                    color: #ffffff;
                }
            </style>
        </div>
    </div>

    <div class="now-playing">Now Playing</div>

    <div class="video-title">{{ current_live.title.strip|truncatechars:50 }}</div>

    <div data-controller="load_more_commando" class="comments-wrapper" id="comments-wrapper">
        <div class="comment-counter-home">
            {% if total_comments != 1 %}
            <span class="comment-count-home">{{ total_comments }}</span>
            <span class="comment-text-home">Comments</span>
            {% else %}
            <span class="comment-count-home">{{ total_comments }}</span>
            <span class="comment-text-home">Comment</span>
            {% endif %}
        </div>
        <div data-controller="comments" class="write-comment d-flex align-items-center position-relative">
            {% csrf_token %}
            <input data-target="comments.post" type="hidden" value="{{ live_id }}">
            <input data-target="comments.type" type="hidden" value="live">
            <input class="write-comment-hint" autofill="off" autocomplete="off" id="write-comment"
                data-target="comments.comment_text" type="text"
                {% if not request.user.is_authenticated %}
                    data-action="click->comments#open_login_prompt"
                {% endif %}
                    placeholder="Write a comment..." required />
            <span id="character-count" class="character-count">200</span>
            <input
                {% if request.user.is_authenticated %}
                    data-action="click->comments#write_comment" class="cursor-pointer"
                {% else %}
                    disabled
                {% endif %}
                    type="image" src="/app/static/img/post_a_comment.svg"
                    border="0" alt="Submit" />
        </div>
        {% if comments %}
            <div id="comments-card" class="comments-overflow">
                {% for comment in comments %}
                    <div class="d-flex justify-content-start align-items-start position-relative">
                        <img src="{{ comment.created_by.get_profile_picture }}" class="live-comment-avatar shimmer-effect" alt="{{ comment.created_by.get_full_name }}">
                        <div class="live-comment-content-wrapper">
                            <span class="comment-live-name">{{ comment.created_by.get_full_name | safe }}</span>
                            <span class="comment-live-text">{{ comment.text | safe }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="no-livetv-comments">No comments to display</div>
        {% endif %}

        {% include "components/right_section_footer.html" %}
    </div>

</section>