<footer class="footer-metapages">

    <div class="container">
        <div class="footer-contents">
            
            <a href="{{ community.facebook_page_url }}" target="_blank">
                <img class="footer_fb_metapage " alt="Argus Facebook page">
            </a>
            <a href="{{ community.twitter_page_url }}" target="_blank">
                <img class="footer_twitter_metapage" alt="Argus Twitter page">
            </a>
            <a href="https://argusnews.in/rss/or/feed">
                <img class="footer_share_metapage" alt="Argus RSS page">
            </a>
          

            <a class="footer-components" href="/about-us">About</a>
            <a class="footer-components" href="/privacy-policy"> Privacy</a>
            <a class="footer-components" href="/terms-of-use"> Terms</a>
            <a class="footer-components" href="/contact-us"> Contact Us</a>
            <span>Copyright © {% now 'Y' %} Argus News | Pratham Broadcast India Pvt. Ltd. | All right reserved.</span>

        </div>
    </div>

</footer>

<footer class="footer-metapages-mobile">
    <div class="container">
        <div class="footer-contents-mobile">

            <div class="social-footer-links-mobile">
                <a href="{{ community.facebook_page_url }}" target="_blank">
                    <img class="footer_fb_metapage" alt="Argus Facebook page">
                </a>
                <a href="{{ community.twitter_page_url }}" target="_blank">
                    <img class="footer_twitter_metapage" alt="Argus Twitter page">
                </a>
                <a href="https://argusnews.in/rss/or/feed">
                    <img class="footer_share_metapage" alt="Argus RSS page">
                </a>
              
            </div>
            <div class="footer-links-mobile">
                <a class="footer-components" href="/about-us">About</a>
                <a class="footer-components" href="/privacy-policy"> Privacy</a>
                <a class="footer-components" href="/terms-of-use"> Terms</a>
                <a class="footer-components" href="/contact-us"> Contact Us</a>
            </div>
            <div class="footer-copyright-mobile">
                <span>Copyright © {% now 'Y' %} Argus News | Pratham Broadcast <br/> India Pvt. Ltd. | All right reserved.</span>
            </div>

        </div>
    </div>

</footer>