{% load filters %}
<section>
    <div data-controller="load_more" class="comments-wrapper" id="comments-wrapper">
        <div class="bg-white mb-3">
            <div class="comment-counter-details"> 
                {% if total_comments != 1 %}
                    <span class="comment-count-details">{{ total_comments }}</span>
                    <span class="comment-text-details">Comments</span>
                {% else %}
                    <span class="comment-count-details">{{ total_comments }}</span>
                    <span class="comment-text-details">Comment</span>
                {% endif %}
            </div>
            <div data-controller="comments" class="write-comment d-flex align-items-center position-relative">
                {% csrf_token %}
                <input data-target="comments.post" type="hidden" value="{{ live_id }}">
                <input data-target="comments.type" type="hidden" value="live">
                <input class="write-comment-hint" data-target="comments.comment_text" type="text"
                    {% if not request.user.is_authenticated %} 
                        data-action="click->comments#open_login_prompt"
                    {% endif %}
                        placeholder="Write a comment..." required />
                <input 
                    {% if request.user.is_authenticated %} 
                        data-action="click->comments#write_comment" class="cursor-pointer"
                    {% else %}
                        disabled 
                    {% endif %}
                    type="image" src="/app/static/img/post_a_comment.svg"
                    border="0" alt="Submit" />
            </div>
            <div id="comments-card">
                {% for comment in comments %}
                    <div data-controller="comments">
                        <div>
                            <div class="card-title">
                                <img class="rounded-circle" src="{{ comment.created_by.get_profile_picture }}" alt="profile picture">
                                <span class="name">
                                    {{ comment.created_by.get_full_name }}
                                </span>
                                <!-- Get conformation about adding location or not -->
<!--                                <span class="text-muted location">Location</span>-->
                                <span class="comment-duration">
                                    {{ comment.created | timesince | upto }}
                                </span>
                            </div>
                                {% if comment.text|cut:" "|length > 200 %}
                                    <span class="card-text truncated-comment comment" data-target="comments.truncated_comment"
                                          id="truncated-comment">{{ comment.text | safe}}
                                    </span>
                                    <button class="card-text comment more-button" data-target="comments.show_comment"
                                        data-action="click->comments#expand" id="show-comment">more
                                    </button>
                                {% else %}
                                    <span class="card-text comment">{{ comment.text | safe }}</span>
                                {% endif %}
                            <div class="comment-buttons">
                                <span class="comments-like">
                                    <input type="image" src="/app/static/img/comments_like.svg" border="0" alt="Submit"/>
                                    <span class="like-label">Like {{ comment.likes | safe }}</span>
                                </span>
                                <span class="comments-reply">
                                    <input type="image" src="/app/static/img/comments_reply.svg" border="0" alt="Submit"/>
                                    <span class="reply-label">Reply</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="comment-end"></div>
                {% endfor %}
            </div>


            {% if total_comments > 5 %}
                <div class="load-more text-center">
                    <input type="hidden" data-target="load_more.live_id" value="{{ live_id }}">
                    <input type="hidden" data-target="load_more.totalComments" value="{{ total_comments }}">
                    <button id="load-more-button" class="load-more-button" data-action="click->load_more#load_live_comments">
                        Load more
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</section>