{% extends 'base.html' %}
{% load filters %}

{% block head %}
    <script src="/app/static/js/commando_shakti_videos.js"></script>
    <meta property='twitter:title' content="Commando Shakti| Argus News"/>
    <meta property='twitter:image' content="https://d267x6x6dh1ejh.cloudfront.net/posts/eb54c0ee-5bc8-4c2a-bcba-273a1da694ad.png" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:image" content="https://d267x6x6dh1ejh.cloudfront.net/posts/eb54c0ee-5bc8-4c2a-bcba-273a1da694ad.png" />
    <meta property="og:title" content="Commando Shakti| Argus News"/>
    <meta property="og:url" content="{{ request.META.HTTP_HOST }}/commando-shakti" />
    <meta property="og:description" content="Commando Shakti | Argus News" />
    <link rel="canonical" href="https://{{ request.META.HTTP_HOST }}//commando-shakti">


    <title>{% block title %} Commando Shakti | Argus News {% endblock %}</title>
    <meta name="description" {% block meta_description %} content="Commando Shakti | Argus News" {% endblock %} />

{% endblock %}

{% block h1_tag %}
    {# h1 to h6 tags are important for SEO (h1 tags are very important!) #}
    <h1 class="d-none">Commando Shakti | Argus News</h1>
{% endblock %}

{% block content %}
{# desktop top ad  #}
{% if not request.user_agent.is_mobile %}
    <div class="top-ads-container"></div>
{% endif %}
<div data-controller="commandoShakti" class="wrapper live-tv" id="main-container">
    <input type="hidden" data-target="commandoShakti.live_id" value="{{ live_id }}">
    <div class="left-sidebar">
        <div class="d-none d-lg-block justify-content-between bg-white left-pane position-relative">
            {% block left_section %}
                {% include "components/left_section.html" %}
            {% endblock %}
        </div> 
    </div>

    <div class="content position-relative bg-white" id="video-list">
        <div class="left-separator"></div>
        <div class="right-separator"></div>
        <div class="sticky-spacer"></div>

        {# mobile top ad  #}
        {% if request.user_agent.is_mobile %}
            <div class="top-ads-container"></div>
        {% endif %}

        <div class="first-post-end"></div>
        {% if live %}
            {% for video in live %}
                <div class="bg-white gp-card cursor-pointer"
                     onclick="Turbolinks.visit('/video/{{ video.people_to_meet.all.0.url_path|urlencode|safe }}/{{ video.unique_url|urlencode|safe }}');">

                    <div class="bg-white d-flex gp-card position-relative">
                        {% if video.get_image and video.get_image.strip %}
                            <div class="play-btn">
                                <img class="play-btn-img" src="/app/static/img/play_btn.svg" alt="play button">
                            </div>
                            <div class="img-fluid">
                                <img class="gp-img-border mx-auto center-cropped-gp" src="{{ video.get_image|safe }}" alt="{{ video.title.strip|safe }}"/>
                            </div>
                        {% else %}
                        <!-- Showing placeholder image if post image is not available  -->
                            <div class="play-btn">
                                <img class="play-btn-img" src="/app/static/img/play_btn.svg" alt="play button">
                            </div>
                            <div class="img-fluid">
                                <img class="gp-img-border mx-auto center-cropped-gp post-placeholder" alt="Image"/>
                            </div>
                        {% endif %}

                        <div class="position-relative w-100">
                            {% include "components/home_page/generic_video_topic_timestamp.html" %}
                            <div class="gp-card-wrapper">
                                {% if video.title and video.title.strip %}
                                    <div class="gp-title">{{ video.title.strip|safe }}</div>
                                {% endif %}

                                {% if video.text %}
                                    <div class="gp-card-text">{{ video.text|striptags|safe|generate_short_description:50 }} </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-end"></div>
            {% endfor %}
        {% endif %}

        {# Prompt to download App in mobile site #}
        {% include "components/download_app_prompt.html" %}
    </div>

    <!-- div id name has to be different than post div to avoid turbolink header merge -->
    <div class="right-sidebar-main">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
            <div class="d-none d-lg-block justify-content-between live-tv-comments-section right-pane position-relative" id="comments_home">
                {% block right_section %}
                    {% include "components/commando_right_section.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block endscript %}
{% endblock %}